// For retrieving Unsplash metrics
UNSPLASH_ACCESS_KEY=

// For showing now playing song from Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

// For NextAuth.js and GitHub OAuth
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

// For post views and guestbook
DATABASE_URL=

//For Valorant Stats
VALORANT_PUUID=
VALORANT_API_KEY=

URL=
